.about {
  width: 100%;

  &__header {
    background-color: $red;
  }

  &__row {
    display: flex;
  }

  &__col {
    display: flex;
    flex-direction: column;
  }

  &__article {
    margin: 51px auto 100px;
    width: 1170px;
  }

  &__img-wr {
    max-width: 470px;
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__text-wr {
    margin-left: 30px;
    margin-top: 49px;
  }

  &__heading {
    position: relative;
    display: block;
    margin-bottom: 100px;
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 54px;
    color: $text-white;

    &::before {
      content: '';
      position: absolute;
      bottom: -12px;
      display: block;
      height: 2px;
      width: 170px;
      background-color: $text-white;
    }
  }

  &__info {
    max-width: 568px;
    margin-bottom: 39px;
    font-family: "Cormorant", serif;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    color: $text-white;
  }
}