.about {
  width: 100%;

  &__header {
    background-color: $red;
  }

  &__row {
    display: flex;
  }

  &__col {
    display: flex;
    flex-direction: column;
  }

  &-m575 {
    display: none;

    @media screen and (max-width: 575px) {
      display: flex;
    }
  }

  &__buttons {
    justify-content: space-between;
  }

  &__article {
    width: 1170px;
    margin: 51px auto 100px;

    @media screen and (max-width: 1199px) {
      width: 100%;
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 0;
    }

    @media screen and (max-width: 992px) {
      flex-direction: column-reverse;
    }

    @media screen and (max-width: 575px) {
      margin-bottom: 35px;
    }
  }

  &__img-wr {
    max-width: 470px;
    width: 100%;

    @media screen and (max-width: 992px) {
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (max-width: 575px) {
      margin-bottom: 20px;
    }

    img {
      width: 100%;
    }
  }

  &__text-wr {
    margin-left: 30px;
    margin-top: 49px;

    @media screen and (max-width: 992px) {
      margin-bottom: 34px;
      margin-top: 20px;
      margin-left: 0;
    }

    @media screen and (max-width: 575px) {
      margin-bottom: 10px;
    }
  }

  &__heading {
    position: relative;
    display: block;
    margin-bottom: 100px;
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 54px;
    color: $text-white;

    @media screen and (max-width: 992px) {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 34px;
    }

    @media screen and (max-width: 575px) {
      font-size: 32px;
      line-height: 39px;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: -12px;
      display: block;
      height: 2px;
      width: 170px;
      background-color: $text-white;

      @media screen and (max-width: 992px) {
        left: -8px;
      }

      @media screen and (max-width: 575px) {
        left: calc(50% - 85px);
      }
    }
  }

  &__info {
    max-width: 568px;
    margin-bottom: 39px;
    font-family: "Cormorant", serif;
    font-weight: normal;
    font-size: 28px;
    line-height: 34px;
    color: $text-white;

    @media screen and (max-width: 992px) {
      max-width: 100%;
    }

    @media screen and (max-width: 575px) {
      margin-bottom: 24px;
      font-size: 16px;
      line-height: 19px;
    }
  }
}