.event {
  width: 100%;

  &__main {
    display: flex;
    flex-direction: column;
    padding: 70px 135px 160px;

    @media screen and (max-width: 575px) {
      padding-top: 20px;
      padding-bottom: 30px;
    }
  }

  &__heading {
    position: relative;
    margin-bottom: 135px;
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    color: $text-black;

    @media screen and (max-width: 575px) {
      margin-bottom: 34px;
      font-size: 32px;
      line-height: 39px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -11px;
      left: calc(50% - 85px);
      display: block;
      height: 2px;
      width: 170px;
      background-color: $text-black;

    }
  }

  &__items {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 992px) {
      max-width: 100%;
    }
  }

  .swiper-container {
    @media screen and (max-width: 992px) {
     padding-bottom: 45px;
    }
  }

  .swiper-wrapper {
    justify-content: space-between;
    
    @media screen and (max-width: 992px) {
      max-width: 100%;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 20px);

    @media screen and (max-width: 992px) {
      max-width: 100%;
      min-width: 100%;
    }
  }

  &__img-wr {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  &__text {
    padding: 32px 42px 50px 53px;
    height: fit-content;
    min-height: 250px;

    @media screen and (max-width: 992px) {
      width: unset;
      min-height: unset;
      padding: 20px 24px 28px 24px;
    }

    &:first-child {
      .hall__semi-heading {
        text-align: left;
      }
    }
  }

  &__red {
    background-color: $red;
  }

  &__black {
    background-color: $black;
  }

  &__brown {
    background-color: $brown;
  }

  &__yellow {
    background-color: $yellow;
  }

  &__semi-heading {
    margin-bottom: 32px;
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    text-align: left;
    color: $text-white;

    @media screen and (max-width: 575px) {
      margin-bottom: 20px;
      font-size: 28px;
      line-height: 34px;
      text-align: center;
    } 
  }


  .swiper-pagination {
    bottom: 0;

    &-bullet {
      width: 15px;
      height: 15px;
      background-color: $black;
      opacity: 1;
      
      &:not(:last-child) {
        margin-right: 25px !important;
      }

      &-active {
        &:nth-child(1) {
          background-color: #c4c4c4 !important;
        }

        &:nth-child(2) {
          background-color: $red !important;
        }

        &:nth-child(3) {
          background-color: $yellow !important;
        }

        &:nth-child(4) {
          background-color: #c4c4c4 !important;
        }
      }
    }
  }

  &__info {
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.03em;
    color: $text-white;

    @media screen and (max-width: 575px) {
      font-size: 20px;
      line-height: 24px;
    } 
  }
}
