.footer {
  &__row {
    display: flex;
  }

  &__col {
    display: flex;
    flex-direction: column;
  }

  &__contacts {
    padding: 100px 135px 105px;
    align-items: center;

    @media screen and (max-width: 992px) {
      padding: 45px 20px;
    }
  }

  &__adress {
    margin-bottom: 50px;
    font-family: "Cormorant", serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.02em;
    text-align: center;

    @media screen and (max-width: 992px) {
      text-align: center;
    }

    @media screen and (max-width: 575px) {
      margin-bottom: 20px;
      font-size: 26px;
      line-height: 31px;
    }
  }

  &__work-time {
    margin-bottom: 55px;
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    @media screen and (max-width: 992px) {
      text-align: center;
    }

    @media screen and (max-width: 575px) {
      margin-bottom: 20px;
      font-size: 24px;
      line-height: 29px;
    }
  }
}

.contacts__info {
  display: none;
  font-family: "Cormorant", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}