.footer {
  &__row {
    display: flex;
  }

  &__col {
    display: flex;
    flex-direction: column;
  }

  &__contacts {
    padding: 100px 135px 105px;
    align-items: center;
  }

  &__adress {
    margin-bottom: 50px;
    font-family: "Cormorant", serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.02em;
    text-align: center;
  }

  &__work-time {
    margin-bottom: 55px;
    font-family: "Cormorant", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
  }
}