.header {
  margin: 30px 135px;

  @media screen and (max-width: 992px) {
    margin: 0;
    padding: 15px 20px;
    background-color: #fff;
    border-bottom: 5px solid #000;
  }

  &-white:not(.home__exact) {
    .nav__logo-link svg path {
      fill: #000;
    }
  }
}



