.nav {
  position: relative;
  display: flex;
  justify-content: space-between;

  &__locale {
    display: flex;
    justify-content: space-between;
    width: 70px;
    padding-top: 20px;
    list-style-type: none;
  }

  &__logo {
    position: absolute;
    left: calc(50% - 85px);
  }

  &__link {
    font-family: "Cormorant", serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-decoration: none;
    color: #FFFFFF;
  }
}

.navbar {
  display: flex;
  padding-top: 6px;
  height: 58px;

  &__link {
    display: block;
    padding: 15px 11px;
    background-color: #000;
    font-family: "Cormorant", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #FFFFFF;
  }

  &__toggler {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none !important;
    border: none !important;
    background-color: #FFFFFF;
  }
}