$breakpoint-tablet: 1025px;
$breakpoint-tablet-small: 768px;
$breakpoint-mobile: 475px;
$breakpoint-mobile-small: 320px;

$red: #902725;;
$black: #000000;
$white: #FFFFFF;
$text-pink: rgba(252, 186, 186, 0.93);
$text-black: #000000;
$text-white: #FFFFFF;