@import "var";

@import "header";
@import "footer";
@import "index";
@import "about";
@import "menu";
@import "halls";
@import "events";
@import "contacts";
@import "gallery";
@import "nav";
@import "popup";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
}

.header-black {
  .nav__link {
    color: $text-black;
  }

  .nav__logo-link svg path {
    fill: $text-black;
  }
}

.header-white {
  .nav__link {
    color: $text-white;
  }

  .nav__logo-link svg path {
    fill: $text-white;
  }
}

.footer-black {
  background-color: $black;

  .footer__text {
    color: $text-white !important;
  }

  .footer__link-img svg path {
    stroke: $text-white;
  }
}

.footer-white {
  background-color: $white;

  .footer__text {
    color: $text-black !important;
  }

  .footer__link-img svg path {
    stroke: $text-black;
  }
}

body {
  display: flex;
  flex-direction: column;
}

.center {
  margin: 0 auto;
}

.f-20 {
  font-size: 20px;
}

.f-18 {
  font-size: 18px;
}

.mr35 {
  margin-right: 35px;
}

.mr40 {
  margin-right: 40px;
}

.mb65 {
  margin-bottom: 65px;
}

.mr17 {
  margin-right: 17px;
}


main:not(.contacts__main) {
  width: 1170px !important;
  margin: 0 auto !important;
  padding-left: 0 !important;
  padding-right: 0 !important;

  @media screen and (max-width: 1199px) {
    width: 100% !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  @media screen and (max-width: 992px) {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

a, button {
  transition: opacity ease 0.4s;
  cursor: pointer !important;
}

a:hover, button:hover {
  opacity: 0.9 !important;
}

a:active, button:active {
  opacity: 0.7 !important;
} 
