@import "var";

@import "header";
@import "footer";
@import "index";
@import "about";
@import "menu";
@import "halls";
@import "events";
@import "nav";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-black {
  .nav__link {
    color: $text-black;
  }

  .nav__logo-link svg path {
    fill: $text-black;
  }
}

.header-white {
  .nav__link {
    color: $text-white;
  }

  .nav__logo-link svg path {
    fill: $text-white;
  }
}

.footer-black {
  background-color: $black;

  .footer__text {
    color: $text-white;
  }

  .footer__link-img svg path {
    stroke: $text-white;
  }
}

.footer-white {
  background-color: $white;

  .footer__text {
    color: $text-black;
  }

  .footer__link-img svg path {
    stroke: $text-black;
  }
}

body {
  display: flex;
  flex-direction: column;
}

.center {
  margin: 0 auto;
}

.f-20 {
  font-size: 20px;
}

.f-18 {
  font-size: 18px;
}

.mr40 {
  margin-right: 40px;
}

.mb65 {
  margin-bottom: 65px;
}

.mr17 {
  margin-right: 17px;
}
